########################################
# 1. 제외할 데이터 폴더
########################################
data/cropped_videos/
data/video_data/
mmpose

########################################
# 2. 대용량/불필요 파일
########################################
*.mp4
*.avi
*.json
*.npy
*.npz

########################################
# 3. 파이썬 캐시 및 환경 관련
########################################
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

########################################
# 4. IDE 설정 디렉토리
########################################
.vscode/
.idea/

########################################
# 5. 모델 파일 (대용량)
########################################
models/*.pth
models/*.pt

########################################
# 6. 기타 OS 파일
########################################
.DS_Store
Thumbs.db
